﻿@model IEnumerable<Medicines.Models.Medicine>

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content clearfix">

        <div class="modal-body">
            @using (Html.BeginForm("AddRecipeAgent", "Home", FormMethod.Post, new { id = "addForm" }))
            {
                @Html.AntiForgeryToken()

                <form class="form-inline">
                    <h4>AddAgent</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group col-md-4">
                        <label class="control-label" for="Name">Name</label>
                        <select name="Name" class="form-control">
                            @foreach (var agent in Model)
                            {
                                <option value="@agent.Name">@agent.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label col-md-2" for="Number">Number</label>
                        <input class="form-control text-box single-line" data-val="true" data-val-number="The field Number must be a number." data-val-required="Требуется поле Number." id="Number" name="Number" type="number" min="0" step="1" value="">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Number" data-valmsg-replace="true"></span>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label" for="Gauge">Gauge</label>
                        <select name="Gauge" class="form-control">
                            <option value="@Medicines.Models.Gage.g">@Medicines.Models.Gage.g</option>
                            <option value="@Medicines.Models.Gage.mg">@Medicines.Models.Gage.mg</option>
                            <option value="@Medicines.Models.Gage.mkg">@Medicines.Models.Gage.mkg</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        <div class="form-actions no-color col-md-1 add-margin_bottom">
                            <input type="submit" value="Add To Shopping" class="btn btn-info btn-lg" id="addSubmit" />
                        </div>
                        <div class="form-actions no-color col-md-offset-9 col-md-1 add-margin_bottom">
                            <input type="submit" value="Back" class="btn btn-info btn-lg cancelButton" />
                        </div>
                    </div>

                </form>
            }
        </div>
    </div>
</div>