﻿@model IEnumerable<Medicines.Models.MedicineAndDosage>

@{
    Layout = null;
}

<table class="agentsRecipeTable table">

    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gauge)
        </th>
    </tr>

    @if (Model != null) 
    {
        foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        @Html.ActionLink("D", "DeleteRecipeAgent", new { id = item.Id }, new { @class = "openModal" })
                    </td>*@
                    <td>
                        <a class="openModal" href="/Home/DeleteRecipeAgent/@item.Id"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Number
                    </td>
                    <td>
                        @item.Gauge
                    </td>
                </tr>
            }
    }

</table>

