﻿@model IEnumerable<Medicines.Models.Medicine>

@{
    Layout = null;
}

<table class="agentsTable table">
    <tr>
        <th></th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.MedType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>          
            @*<td>
                @Html.ActionLink("Edit", "EditAgent", new { id = item.Id }, new {@class = "openModal"})
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteAgent", new { id = item.Id }, new {@class = "openModal"})
            </td>*@
            <td>
                <a class="openModal" href="/Home/EditAgent/@item.Id"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
            </td>
            <td>
                <a class="openModal" href="/Home/DeleteAgent/@item.Id"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a> 
            </td>
            <td>
                @item.MedType
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Description
            </td>
            @*<td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class = "openModal" })
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "openModal" })
            </td>*@
        </tr>
    }

</table>


