﻿@*@model Medicines.Models.Recipe*@

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content clearfix">

        <div class="modal-body">
            @using (Html.BeginForm("CreateRecipe", "Home", FormMethod.Post, new { id = "addForm" }))
            {
                @Html.AntiForgeryToken()


                <p>ATATATATA</p>
                @*<div class="form-horizontal">
                    <h4>AddAgent</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.RecipeName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RecipeName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RecipeName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <fieldset>                      
                        <div class="col-sm-offset-1">
                            @Html.ActionLink("Add an agent to the list", "AddRecipeAgent", null, new { @class = "openModal btn btn-info btn btn-lg" })
                        </div>
                        <div class="row">
                            <div id="agentsRecipeTable"><h4>Press the button to add an agent to ur recipe</h4></div>
                        </div>
                    </fieldset>

                    <div class="col-md-12">
                        <div class="form-actions no-color col-md-1 add-margin_bottom">
                            <input type="submit" value="Create Recipe" class="btn btn-info btn-lg" id="addSubmit" />
                        </div>
                        <div class="form-actions no-color col-md-offset-9 col-md-1 add-margin_bottom">
                            <input type="submit" value="Back" class="btn btn-info btn-lg cancelButton" />
                        </div>
                    </div>

                </div>*@
            }
        </div>

    </div>
</div>