﻿@model Medicines.Models.Medicine

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content clearfix">

        <div class="modal-body">
            @using (Html.BeginForm("EditAgent", "Home", FormMethod.Post, new { id = "editForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>EditAgent</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.MedType, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MedType, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MedType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-actions no-color col-md-1 add-margin_bottom">
                            <input type="submit" value="Edit" class="btn btn-info btn-lg" id="editSubmit" />
                        </div>
                        <div class="form-actions no-color col-md-offset-9 col-md-1 add-margin_bottom">
                            <input type="submit" value="Back" class="btn btn-info btn-lg cancelButton" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
