﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


<div class="col-sm-8">
    @*<input type="button" value="Add agent" onclick="location.href='<%: Url.Action( "AddAgent", "HomeController" ) %>'" />*@  
    <div class="row agents-notes">
        <div class="col-sm-offset-1 col-sm-3">
            @*<button class="btn btn-info btn btn-lg">Add agent</button>*@
            @*<input type="button" class="openModal btn btn-info btn btn-lg" id="btnAddAgent" value="AddAgent" data-url="@Url.Action("AddAgent", "Home")" /* onclick="location.href=' @Url.Action("AddAgent", "Home")'" */ />*@
            @Html.ActionLink("AddAgent", "AddAgent", null, new { @class = "openModal btn btn-info btn btn-lg" })
        </div>
        <div class="col-sm-offset-4 col-sm-4">
                @*<p>
                    Find by name: @Html.TextBox("SearchString")
                    <input type="submit" value="Search" />
                </p>*@
            <div class="form-group">
                <label for="AgentSearchString">Find by name</label>
                <input type="text" class="form-control" id="AgentSearchString" name="SearchString" placeholder="Name of the medicine">
            </div>
         </div>
    </div>
    <br />
    <div class="row">
        <div id="agentsTable">Loading...</div>
    </div>
</div>

@*<div class="col-sm-6"> 
    <div class="row agents-notes">
        <div class="col-sm-offset-1">
            <h3>Notes</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div id="notes">@Html.Partial("Notes")</div>
    </div>
</div>*@


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });

            updateAgentsTable();

            $(".container").on("click", ".cancelButton", function (e) {
                e.preventDefault();
                $('#modDialog').modal('hide');
            });


            $(".container").on("click", ".openModal", function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });


            //$(".container").on("click", ".openModal", function (e) {
            //    e.preventDefault();
            //    console.log(this);
            //    console.log($(this));
            //    debugger;
            //    $.get($(this).attr("data-url"), function (data) {
            //        $('#dialogContent').html(data);
            //        $('#modDialog').modal('show');
            //    });
            //});


            $("#AgentSearchString").on("change paste keyup", function () {
                alert($(this).val());
            });


            @*$("#AgentSearchString").on("change paste keyup", function () {
                e.preventDefault();
                var str = $(this).val();
                $.ajax({
                    url: "@Url.Action("SearchAgent", "Home")",
                    //data: JSON.stringify(data),
                    data: str,
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    //dataType: "text",
                    //success: function (data) {
                    //    if (data == "true") {
                    //        $('#modDialog').modal('hide');
                    //        updateAgentsTable();
                    //    }
                    //}
                });
            });*@


            $(".container").on("click", "#addSubmit", function (e) {   
                e.preventDefault();
                var form = $('#addForm');
                var data = getFormData(form);
                $.ajax({
                    url: "@Url.Action("AddAgent", "Home")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateAgentsTable();
                        }
                    }
                });
            });


            $(".container").on("click", "#editSubmit", function (e) {   
                e.preventDefault();
                var form = $('#editForm');
                var data = getFormData(form);
                $.ajax({
                    url: "@Url.Action("EditAgent", "Home")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateAgentsTable();
                        }
                    }
                });
            });


            $(".container").on("click", "#deleteSubmit", function (e) {   
                e.preventDefault();
                var form = $('#deleteForm');
                var data = { Id: $("[name='Id']", form).val() };
                $.ajax({
                    url: "@Url.Action("DeleteAgent", "Home")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateAgentsTable();
                        }
                    }
                });
            });


            $(".container").change
            //$(".container").on("click", "#btnAddAgent", function (e) {
            //    e.preventDefault();
            //    debugger;
            //    $.get(this.href, function (data) {
            //        $('#dialogContent').html(data);
            //        $('#modDialog').modal('show');
            //    });
            //});

            function updateAgentsTable() {
                $.ajax({
                    url: "@Url.Action("AgentsTable", "Home")",
                    data: "",
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        $("#agentsTable").html(data);
                    }
                });
            };

            function getFormData(form) {
                var data = {
                    Id: $("[name='Id']", form).val(),
                    MedType: $("[name='MedType']", form).val(),
                    Name: $("[name='Name']", form).val(),
                    Price: $("[name='Price']", form).val(),
                    Description: $("[name='Description']", form).val()
                };
                return data;
            };

        });
    </script>
}
