﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Recipe";
}


<div class="col-sm-6">
    <div class="row agents-notes">
        <div class="col-sm-offset-1">
            @Html.ActionLink("Add an agent to the list", "AddRecipeAgent", null, new { @class = "openModal btn btn-info btn btn-lg" })
        </div>
    </div>
    <br />
    <div class="row">
        <div id="agentsRecipeTable"><h4>Press the button to add an agent to ur recipe</h4></div>
    </div>
</div>

@*<div class="col-sm-12">
    <div class="col-sm-2">
        @Html.ActionLink("Checkout", "Recipe", null, new { @class = "btn btn-info btn btn-lg" })
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("New Recipe", "Recipe", null, new { @class = "btn btn-info btn btn-lg" })
    </div>
</div>*@


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });


            $(".container").on("click", ".cancelButton", function (e) {
                e.preventDefault();
                $('#modDialog').modal('hide');
            });


            $(".container").on("click", ".openModal", function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });


            $(".container").on("click", "#addSubmit", function (e) {
                e.preventDefault();
                var form = $('#addForm');
                var data = getFormData(form);
                $.ajax({
                    url: "@Url.Action("AddRecipeAgent", "Home")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateRecipeAgentsTable();
                        }
                    }
                });
            });


            $(".container").on("click", "#deleteSubmit", function (e) {
                e.preventDefault();
                var form = $('#deleteForm');
                var data = { Id: $("[name='Id']", form).val() };
                $.ajax({
                    url: "@Url.Action("DeleteRecipeAgent", "Home")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateRecipeAgentsTable();
                        }
                    }
                });
            });


            function updateRecipeAgentsTable() {
                $.ajax({
                    url: "@Url.Action("AgentsRecipeTable", "Home")",
                    data: "",
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        $("#agentsRecipeTable").html(data);
                    }
                });
            };


            function getFormData(form) {
                var data = {
                    Id: $("[name='Id']", form).val(),
                    MedType: $("[name='MedType']", form).val(),
                    Name: $("[name='Name']", form).val(),
                    Price: $("[name='Price']", form).val(),
                    Description: $("[name='Description']", form).val(),
                    Number: $("[name='Number']", form).val(),
                    Gauge: $("[name='Gauge']", form).val()
                };
                return data;
            };


        });
    </script>
}