﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Recipes";
}


<div class="col-sm-6">
    <div class="row agents-notes">
        <div class="col-sm-offset-1">
            @Html.ActionLink("CreateRecipe", "CreateRecipe", null, new { @class = "openModal btn btn-info btn btn-lg" })
        </div>
    </div>
    <br />
    <div class="row">
        <div id="RecipesTable"><h4>Loading...</h4></div>
    </div>
</div>


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });


            updateRecipesTable();


            $(".container").on("click", ".cancelButton", function (e) {
                e.preventDefault();
                $('#modDialog').modal('hide');
            });


            $(".container").on("click", ".openModal", function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });


            $(".container").on("click", "#addSubmit", function (e) {
                e.preventDefault();
                var form = $('#addForm');
                var data = getFormData(form);
                $.ajax({
                    url: "@Url.Action("CreateRecipe", "Home")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateRecipesTable();
                        }
                    }
                });
            });


            @*$(".container").on("click", "#deleteSubmit", function (e) {
                e.preventDefault();
                var form = $('#deleteForm');
                var data = { Id: $("[name='Id']", form).val() };
                $.ajax({
                    url: "@Url.Action("DeleteRecipeAgent", "Home")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateRecipeAgentsTable();
                        }
                    }
                });
            });*@


            function updateRecipesTable() {
                $.ajax({
                    url: "@Url.Action("RecipesTable", "Home")",
                    data: "",
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        $("#RecipesTable").html(data);
                    }
                });
            };

            function getFormData(form) {
                var data = {
                    Id: $("[name='Id']", form).val(),
                    RecipeName: $("[name='RecipeName']", form).val(),
                    MedicineAndDosages: $("[name='MedicineAndDosages']", form).val()
                };
                return data;
            };

        });
    </script>
}