﻿@model IEnumerable<Medicines.Models.Recipe>

@{
    Layout = null;
}

<table class="agentsRecipeTable table">

    <tr>
        <th></th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.RecipeName)
        </th>
        <th>
            <p2>Incoming Agents</p2>
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>

                <td>
                    <a class="openModal" href="/Home/EditRecipe/@item.Id"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a class="openModal" href="/Home/DeleteRecipe/@item.Id"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                </td>
                <td>
                    @item.RecipeName
                </td>
                <td>
                    @foreach (var MaD in item.MedicineAndDosages)
                    {
                        <p>@MaD.Name (@MaD.Number @MaD.Gauge)</p>
                    }
                </td>

            </tr>
        }
    }

</table>